Source: update-hosts
Section: misc
Priority: optional
Maintainer: Luis Garcia Gisbert <luisgg@gmail.com>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13)
Homepage: https://github.com/lliurex/update-hosts

Package: update-hosts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple tool to update /etc/hosts from multiple files
 The provided utility 'update-hosts' reads files from directory
 '/etc/hosts.d/' and write the result in file /etc/host.
 .
 File format is not checked, but filename must end in .host or .hosts,
 other extensions are ignored.
